.idea/misc.xml
.idea/modules.xml
.idea/VeryGoodBook.iml
.idea/workspace.xml
VeryGoodBook_Lib/.classpath
VeryGoodBook_Lib/.project
VeryGoodBook_Lib/.settings/org.eclipse.jdt.core.prefs
VeryGoodBook_Lib/.settings/org.eclipse.wst.common.component
VeryGoodBook_Lib/.settings/org.eclipse.wst.common.project.facet.core.xml
VeryGoodBook_Lib/VeryGoodBook_Lib.iml
VeryGoodBook_Web/.settings/.jsdtscope
VeryGoodBook_Web/.settings/org.eclipse.jdt.core.prefs
VeryGoodBook_Web/.settings/org.eclipse.wst.common.component
VeryGoodBook_Web/.settings/org.eclipse.wst.common.project.facet.core.xml
VeryGoodBook_Web/.settings/org.eclipse.wst.jsdt.ui.superType.container
VeryGoodBook_Web/.settings/org.eclipse.wst.jsdt.ui.superType.name
VeryGoodBook_Web/.project
VeryGoodBook_Web/.classpath
VeryGoodBook_Web/VeryGoodBook_Web.iml
